@import url(https://fonts.googleapis.com/css?family=Montserrat);

html,
body {
  height: 100%;
}

body {
  background-color: #222;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.title {
    font-size: 48px;
    color: #c0ffff;
}

h1 {
    margin: 0;
    font-weight: bold;
    line-height: 60px;
}

.volume-container {
    margin-top: 40px;
}

.volume-label {
    margin-top: 0;
    color: #c0ffff;
}

.eq-label {
    margin-top: 0;
    margin-bottom: 5px;
}

.eq-container {
    margin-top: 40px;
    padding: 5px;
    background-color: #555;
}

.eq-container > div {
    margin: 0 10px;
}

.effects-container {
  margin-top: 20px;
}

.effect {
  background: #555;
  border-radius: 7px;
  width: 70px;
  height: 70px;
  font-size: 2em;
  display: inline-block;
  margin-left: 10px;
}

.effect.active {
  background: white;
  color: #222;
}

.effect:hover,
.effect:focus {
  transition: 0.1s ease-in-out;
  background: #333;
  color: #ccc;
  cursor: pointer;
}

.effect.active:hover,
.effect.active:focus {
  transition: 0.1s ease-in-out;
  background: #ccc;
  color: #000;
  cursor: pointer;
}

.effect .text {
  margin-top: 15px;
}

.recording-container {
  margin-top: 25px;
}
