@import url(https://fonts.googleapis.com/css?family=Montserrat);

html,
body {
  height: 100%;
}

body {
  background-color: #222;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #c0ffff;
}

.title {
    font-size: 3em;
}

h1 {
    margin: 0;
}

.volume-container {
    margin-top: 40px;
}

.volume-label {
    margin-top: 0;
    color: #c0ffff;
}

.eq-label {
    margin-top: 0;
    color: #ffec03;
}

.eq-container {
    margin-top: 40px;
    padding: 5px;
    padding-top: 20px;
    background-color: #555;
}

.eq-container > div {
    margin: 0 10px;
}
